body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.rest {
    text-align: left;
    font-family: 'Arial';
    color: black;
}

.link {
    color: white;
}

.form-wrapper {
    width: 970px;
    padding: 15px;
    margin: 80px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}