<!DOCTYPE html>
<html lang="en">
  <head>
  	
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Findr</title>

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  	
 
  </head>
  <body>
    <div class="container">
      <p class="font-effect-3d-float">Restaurant</p>
    </div>
    <form class="form-wrapper cf">
      <input type="text" placeholder="Search here..." required>
      <button type="submit">Search</button>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>